section#register, section#login {
    grid-area: news;
    width: 50%;
    margin: auto;
}

section#register > h1, section#login > h1 {
    text-align: center;
    margin: 1em;
}

section#register > form, section#login > form {
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
}

section#register > form > label, section#login > form > label {
    display: block;
    margin: 0.5em;
}

section#register > form > label > input, section#login > form > label > input {
    margin: 0.5em 0;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    padding: 0.5em 0;
}

section#register > form > input[type=submit], section#login > form > input[type=submit] {
    width: min-content;
    margin-left: auto;
}

@media (max-width: 30em) {
    section#register, section#login {
        margin: 0;
        width: 100%;
    }
}
